<div class="container">

<h1>Edit</h1>

<div id="order">

    <hr class="featurette-divider">

      	<div class="featurette">

          <div class="form-horizontal" id="order_form">

          	<%= render partial: 'form' %>

      		</div>
      		
        </div>
</div>