<div class="container below-header">

<div id="order">

        <div class="featurette">
          <h2 class="featurette-heading">Sign up. <span class="muted">Takes about 5 minutes.</span></h2>
          <p class="lead">Fill out this form to get free educational material about So They Can Know to give to your patients.</p>

          <div class="form-horizontal" id="order_form">

          <%= render partial: 'form' %>
      		</div>
        </div>
</div>
