<div class="container below-header">
	<div class="featurette">
		<h2 class="featurette-heading">Thank you!</h2>
		<p class="lead">What happens next:</p>
		<center>
		<div id="how">
      		<div class="row">
      			<div class="span1">
      			</div>
        		<div class="span2">
            		<i class="icon-phone icon-3x"></i> 
          			<h3>1. We call you</h3>
          			<p>To confirm everything, and make sure that we're sending you the right material.</p>
        		</div><!-- /.span4 -->
        		<div class="span2">
            		<i class="icon-user icon-3x"></i> 
          			<h3>2. You create an account</h3>
          			<p>We'll send you a link, a username, and a temporary password.</p>
        		</div><!-- /.span4 -->
        		<div class="span2">
            		<i class="icon-list icon-3x"></i> 
          			<h3>3. You order material</h3>
          			<p>And you can re-order if you're running low, too.</p>
        		</div><!-- /.span4 -->
        		<div class="span2">
            		<i class="icon-envelope icon-3x"></i> 
          			<h3>4. We mail it to you</h3>
          			<p>For free.</p>
        		</div><!-- /.span4 -->
        		<div class="span2">
            		<i class="icon-heart icon-3x"></i> 
          			<h3>5. You give it to patients</h3>
          			<p>And they notify their partners.</p>  
        		</div><!-- /.span4 -->
      		</div><!-- /.row -->
      	</div><!-- /#how -->
		<a href="https://www.sotheycanknow.org" class="btn btn-primary">Visit So They Can Know</a>
		</center>
	</div>